main .video-hero video {
  width: 100vw;
  object-fit: cover;
  aspect-ratio: 16 / 9;
  max-height: 790px;
}

main .video-hero {
  background-color: black;
  /* width: 100vw;
  height: 100vh; */
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
}

main .video-hero .hero-content {
  position: relative;
  position: absolute;
  z-index: 10;
  text-align: left;
  padding: 2rem;
  margin-bottom: 2rem;
  max-width: 142rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

main .video-hero .hero-content > div:has(.button-container) {
  display:flex;
  flex-direction: row;
}

main .video-hero .hero-content > div > p.button-container {
  margin-right: 10px;
}

main .video-hero h1 {
  color: white;
  font-family: AvalonBold, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
}

main .video-hero h2 {
  color: white;
  font-family: AvalonBold, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
}

main .video-hero .button-group a {
  flex: 0 1 auto;
  margin-right: .25rem;
}